body {
    background: hsl(30, 54%, 90%);
    width: 3000px;
    height: 3000px;
}

.recipe-preview {
    background-color: hsl(0, 0%, 100%);
    width: 800px;
    height: 1525px;
}
.recipe-info {
    padding: 0px 50px 50px 50px;
}

h1 {
    color: hsl(24, 5%, 18%);
    font-weight: 700;
    padding: 0%;
    margin: 0%;
}
h2 {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

h3 {
    color: hsl(332, 51%, 32%);
    font-family: Arial;
    padding: 0%;
    margin: 0%;
}

p {
    color: hsl(30, 10%, 34%);
    font-family: Arial;
    font-weight: 400;
}

img {
    width: 700px;
    padding: 50px 50px 40px 50px;
}

.food-name-container {
    margin: 25px 0px 35px 0px;
}

.preparation-time {
    background-color: hsl(330, 100%, 98%);
    padding: 30px;
}
 .preparation-container {
    display: flex;
    flex-direction: column;
 }

.ingredients {
    color: hsl(30, 18%, 87%);
}
.ingredients-container {
    display: flex;
    flex-direction: column;
}

.instructions {
    color: hsl(30, 18%, 87%);
}
.instructions-container {
    display: flex;
    flex-direction: column;
}

.nutrition {
    color: hsl(30, 18%, 87%);
}

.nutrition-container {
    display: flex;
    flex-direction: column;
}