body {
    background: hsl(30, 54%, 90%);
    width: 1500px;
    height: 1800px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.recipe-preview {
    background-color: hsl(0, 0%, 100%);
    width: 780px;
    height: 1525px;
    border-radius: 20px;
}
.recipe-info {
    padding: 0px 40px 40px 40px;
}

h1 {
    color: hsl(24, 5%, 18%);
    font-size: 30px;
    padding: 0%;
    margin: 0%;
}
h2 {
    color: hsl(14, 45%, 36%);
    font-size: 20px;
}

h3 {
    color: hsl(332, 51%, 32%);
    font-family: Arial;
    padding: 0%;
    margin: 0%;
}

p {
    color: hsl(30, 10%, 34%);
    font-family: Arial;
}

img {
    width: 700px;
    border-radius: 10px;
}

.recipe-thumbnail {
    padding: 40px 40px 30px 40px;

}
.food-name-container {
    margin: 25px 0px 35px 0px;
}

.preparation-time {
    background-color: hsl(330, 100%, 98%);
    padding: 30px 30px 5px 30px;
    border-radius: 10px;
}
 .preparation-container {
    display: flex;
    flex-direction: column;
 }

.ingredients {
    color: hsl(30, 18%, 87%);
}
.ingredients-container {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
}

.instructions {
    color: hsl(30, 18%, 87%);
}
.instructions-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nutrition {
    color: hsl(30, 18%, 87%);
}

.nutrition-container {
    display: flex;
    flex-direction: column;
}